<body>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %><br>
        <table class="table">
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
          <tr>
            <th>follows</th>
            <th><%= link_to @user.following_user.count, user_followings_path(@user) %></th>
          </tr>
          <tr>
            <th>followers</th>
            <th><%= link_to @user.follower_user.count, user_followers_path(@user) %></th>
          </tr>
        </table>
        <% if @user == current_user %>
          <%= link_to edit_user_path(@user), class:"btn btn-outline-secondary btn-block" do %>
          <span class="fas fa-user-cog"></span>
          <% end %>
        <% else %>
          <% if current_user.following?(@user) %>
            <%= link_to "Unfollow", user_relationship_path(@user), class:"btn btn-info", method: :delete %>
          <% else %>
            <%= link_to "Follow", user_relationships_path(@user), class:"btn btn-success",method: :post %>
          <% end %>
        <% end %>
        <h2>New book</h2>
        <%= form_with model:@book, local:true do |f| %>
        <p>Title</p>
        <%= f.text_field :title %>
        <p>Opinion</p>
        <%= f.text_area :body %>
        <br>
        <%= f.submit 'Create Book', class:"btn btn-success" %>
        <% end %>
      </div>
      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class="table table-hover table-inverse">
          <thead>
           <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
           </tr>
          </thead>
          <tbody>
           <% @books.each do |book| %>
           <tr>
             <th>
               <%= link_to user_path(@user) do %>
               <%= attachment_image_tag @user, :profile_image,  format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
               <% end %>
               </th>
             <th><%= link_to book.title, book_path(book.id) %></th>
             <th><%= book.body %></th>
             <th><p>コメント件数：<%= book.comments.count %></p></th>
           </tr>
           <% end %>
          </tbody>
        </table>
        <h3>7日分の投稿数</h3>
        <table class="table table-bordered" style="width: 600px">
          <thead>
            <tr>
              <th>6日前</th>
              <th>5日前</th>
              <th>4日前</th>
              <th>3日前</th>
              <th>2日前</th>
              <th>1日前</th>
              <th>今日</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @six.count %></td>
              <td><%= @five.count %></td>
              <td><%= @four.count %></td>
              <td><%= @three.count %></td>
              <td><%= @two.count %></td>
              <td><%= @yesterday_book.count %></td>
              <td><%= @today_book.count %></td>
            </tr>
          </tbody>
        </table>
        <canvas id="mChart"></canvas>
        <script>
            $(document).on('turbolinks:load', function() {
              var ctx = document.getElementById("myLineChart");
              var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
                  datasets: [
                    {
                      label: '投稿した本の数',
                      data: [<%= @books.created_6days.count %>, <%= @books.created_5days.count %>, <%= @books.created_4days.count %>, <%= @books.created_3days.count %>, <%= @books.created_2days.count %>, <%= @books.created_yesterday.count %>, <%= @books.created_today.count %>],
                      borderColor: "rgba(0,0,255,1)",
                      backgroundColor: "rgba(0,0,0,0)"
                    }
                  ],
                },
                options: {
                  title: {
                    display: true,
                    text: '7日間の投稿数の比較'
                  },
                  scales: {
                    yAxes: [{
                      ticks: {
                        suggestedMax: 10,
                        suggestedMin: 0,
                        stepSize: 1,
                        callback: function(value, index, values){
                          return  value
                        }
                      }
                    }]
                  },
                }
              });
            });
        </script>
        
        
        
        
        
        
      </div>

    </div>
  </div>
</body>